.lobby{
    max-width: 400px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    float: left;
    overflow: hidden;
}

.settings{
    overflow: hidden;
    background-color: honeydew;
    height: 430px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgb(14, 14, 14);
    opacity: 0.95;
    padding: 40px;
    color: black;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
}

.lobby>form{
    display: grid; 
    flex-direction: column;
}

.lobby>form>input{
    margin-bottom: 10px;
}

.lobby{
    background-color: black;
    color: honeydew;
    padding: 40px;
    border-radius: 5px 0 0 5px;
    opacity: 0.95;
    text-align: center;
    
}

h3{
    margin: 20px;
    margin-bottom: 0;
}

h5{
    margin:0;
    margin-top: 5px;
    font-weight: 500;
}

.name{
    margin-bottom: -20px;
}

.outerLobby{
    width: 750px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -225px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0px 0px 10px 0px rgb(14, 14, 14);
    opacity: 0.95;
}

.heading{
    color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center;
    padding-bottom: 25px;
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 1px; line-height: 18px; color: #333333; height: 60px; width: 200px; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btnSmall { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 1px; line-height: 18px; color: #333333; height: 35px; width: 200px; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 18px; font-weight: bold; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn-small { padding: 4px 10px; font-size: 16px; font-weight: bold; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #e6e6e6; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -0px 0 rgba(255, 255, 255, 0.25); color: rgb(39, 39, 39); }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: honeydew; background-image: -moz-linear-gradient(top, #6edec2, #4ad44a); background-image: -ms-linear-gradient(top, #6ede99, #4ad473); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6ede6e), to(#4ad488)); background-image: -webkit-linear-gradient(top, #6edeb9, #4ad473); background-image: -o-linear-gradient(top, #6ede99, #4ad478); background-image: linear-gradient(top, #6ede9d, #4ad47f); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6edeaa, endColorstr=#4ad488, GradientType=0);  border: 0px solid #5aa164; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: green; color: honeydew; }
.btn-block { width: 100%; display:block; }

.btnContainer{
    width: 200px;
    margin: auto;
}

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

input { 
    width: 200px; 
    margin-top: 10px;
    margin-bottom: 5px; 
    background: rgba(126, 126, 126, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
  }
  input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }